
html{
    background-image: url("../static/imgs/fotoEstateGabriele3.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: serif, sans-serif;
}

body{ 
    height:100%;
    text-align: center; /* for IE */  
    font-family: sans-serif, serif, monospace; 
}

.boxStyle {    
    /* only ie6-8 */
    background-color: #ffffff\9;
    border: 1px solid #CCC\9; 
    /* for all webb */
    border: 2px solid #000; 
    background-color: rgba(250,250,250,0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
    /* no ie6-8 */
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);  
}
.loginConteiner{
    margin: 100px auto;   /* align for good browsers */ 
    text-align: center;
    width: 300px;     
    padding: 25px;
}

.title {
    /* only ie6-8 */
    color: #000000\9;
    /* for all webb */
    color: rgba(153,153,153,255);
    font-size: xx-large;
    font-family:"Courier New", Times, serif;
}

.fontsInfo{
    /* only ie6-8 */
    color: #000000\9;
    /* for all webb */
    color: rgba(153,153,153,255);
    font-size: 20px;
    font-family:"Courier New", Times, serif;
}

.fontsDeleteInfo{
    /* only ie6-8 */
    color: #000000\9;
    /* for all webb */
    color: rgba(153,153,153,255);
    font-size: 12px;
    font-family: Times cursive, "Courier New" cursive, serif cursive;
}

.loginInput {
    margin-top: 50px;
    text-align: center;
}

.loginButtons {
    margin-top: 15px;
}

.button {
    background: #64c8ef; /* Old browsers */
    background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}
    
.button:hover, .button:focus{
    color: #111111;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
}

.inputLabel {
    padding: 5px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1),  0px 1px 0px 0px rgba(250, 250, 250, 0.5);
}

.inputLabel:hover {
    background: #C1E9F9;
    color: #111111;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
}

.inputLabel:focus {
    border: 2px solid rgba(65, 105, 225, 0.7);
    color: #111111;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}

.textAreaDiv {
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
    height: 200px;
    margin: 10px;
    overflow: auto;
    padding: 7px 10px;
    width: 300px;    
    font-family: tahoma;
    font-size: 13px;
    border: 1px solid #aaa;
}
.textInputDiv {
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
    height: 26px;
    margin: 10px;
    overflow: auto;
    padding: 7px 10px;
    width: 300px;    
    font-family: tahoma;
    font-size: 13px;
    border: 1px solid #aaa;
}